body{
    margin: 0;
    padding: 0;
}
.header{
    background-color: aqua;
    background-image:url('assests/img01.png');
    color: white;
}
.navbar *{
    display: inline;
}
.navbar{
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    overflow: hidden;
    text-decoration: none;
    font-size: 17px;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;

}
.navbar li a{
    padding: 10px 16px;

    margin:  20px;
    text-decoration: none;
    color: white;
}
.hero{
    padding: 20Px;
}
.container{
    padding: 20px;
    background-color: blueviolet;
}
.About{
    text-align: left;
}
.About p{
    font-size: 20px;
}
.Skill h2{

    text-align: center;

}
.card_container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.card {
    /* width: calc(33.33% - 10px);  */
    margin-bottom: 20px; /* Adjust spacing between cards */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    background-color: #ffffff; /* Lighter background color for the card */
    padding: 20px; /* Add padding for spacing within the card */
    border-radius: 8px; /* Add rounded corners to the card */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}
footer{
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
    align-items: center;
    font-size: medium;
}
.Portfolio h2{
    text-align: center;
    color:white;
}